<mat-toolbar class="header-body" color='primary'>
    <span>
        <a class="website-name info-text mat-body-1" style="font-size: 22px" routerLink="/">Sensor Data Projects</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-warn" routerLinkInactive="mat-button">Create
                Project</a>

        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="mat-warn" routerLinkInactive="mat-button">Login
            </a>

        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-warn" routerLinkInactive="mat-button">Sign Up
            </a>

        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout </button>

        </li>

    </ul>

</mat-toolbar>