

 <mat-spinner *ngIf="isloading"></mat-spinner>
 
 <!-- <div style="text-align: center"> 
 <h3 style="color: azure">ALL SENSOR DATA</h3>

 </div> -->
 <mat-card style=" margin-bottom: .5rem" >
    <p class=" info-text mat-body-1" style="text-align: center" >
        ALL SENSOR DATA 
</p></mat-card>
    <div  *ngIf="sensorData.length>0 && !isloading" >
        <mat-card *ngFor="let data of sensorData"
        style="margin-bottom: .5rem; width: 95.5%">
            <div >
                <span>
                {{data.sensorData.substring(data.sensorData.lastIndexOf('/')+1)}}
                
                </span>
                <!-- <span style="float: right; display:inline-block; vertical-align: middle; "> -->
                <!-- </span> -->
                <span style="float: right;margin-bottom: 1rem ">
                        <button style="background-color: #ea4c89;color:white;border-radius: 10px;
                         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 
                         0 6px 20px 0 rgba(0,0,0,0.19)" (click)="download(data.sensorData)"> download</button>
        
                        </span>
                <span style="  float: right; margin-right: 5rem" 
                >
                {{data.userId.Fullname}}
                </span>
                
            </div>
           

            
        </mat-card>


</div>
<mat-paginator *ngIf="sensorData.length>0" [length]="totalData" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" [pageIndex]="currentPage-1">

    </mat-paginator>




<div style="text-align: center" *ngIf="sensorData.length==0 && !isloading"> 
        <h4 class="info-text mat-body-1" style="color: azure" >NO SENSOR DATA AVAILABLE YET FOR THIS PROJECT</h4>
       
</div>