<!-- <mat-card> -->
<form (submit)="onSavePost(postForm)" #postForm="ngForm">
  <mat-card class="firstCard">

    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title" placeholder="Enter a Title" required
        minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" [ngModel]="post?.content" placeholder="Write a Post" required
        minlength='5' #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="mode==='create'">
      <mat-label>File Type</mat-label>
      <mat-select name="fileType" required [(ngModel)]="seletedFileType">
        <mat-option *ngFor="let file of fileTypes" [value]="file.value">
          {{file.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="fileType.hasError('required')">Please choose a file type</mat-error>

    </mat-form-field>

    <mat-form-field *ngIf="mode==='create'">
      <mat-label>Sensors</mat-label>
      <mat-select name="sensorType" multiple class="SensorList" [(ngModel)]="selectedSensor">
        <mat-option *ngFor="let sensor of sensorList" [value]="sensor">{{sensor}}</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="sensorType.hasError('required')">Please choose a sensor </mat-error> -->
      <!-- <mat-error *ngIf="(firstQuestion.hasError('required') && secondQuestion.hasError('required'))&&(sensorType.hasError('required'))">atleast a sensor must be selected or a question must be entered</mat-error> -->

    </mat-form-field>


  </mat-card>

  <p *ngIf="mode==create"> ADD A QUESTIONNAIRE TO THIS PROJECT</p>


  <mat-card class="secondCard" *ngIf="mode==='create'">

    <mat-form-field>
      <input matInput type="text" name="FirstQuestion" [ngModel]="post?.question[0]"
        placeholder="Enter first question here..." #FirstQuestion="ngModel">

      <!-- <input matInput type="text" [formControl]="firstQuestion"  placeholder="Enter first question here"  > -->
    </mat-form-field>

    <!-- </mat-card> -->

    <!-- <mat-card class="secondCard"> -->
    <mat-form-field>
      <input matInput type="text" name="SecondQuestion" [ngModel]="post?.question[1]"
        placeholder="Enter second question here..." #SecondQuestion="ngModel">

      <!-- <input matInput type="text" [formControl]="secondQuestion"  placeholder="Enter second question here" > -->
    </mat-form-field>
    <!-- </mat-card> -->

    <!-- <mat-card class="secondCard">     -->
    <mat-form-field>
      <input matInput type="text" name="ThirdQuestion" [ngModel]="post?.question[2]"
        placeholder="Enter third question here..." #ThirdQuestion="ngModel">

      <!-- <input matInput type="text" name="Third_Question"  placeholder="Enter third question here" > -->
    </mat-form-field>
    <!-- </mat-card> -->

    <!-- <mat-card class="secondCard"> -->
    <mat-form-field>
      <input matInput type="text" name="FourthQuestion" [ngModel]="post?.question[3]"
        placeholder="Enter fourth question here..." #FourthQuestion="ngModel">

      <!-- <input matInput type="text" name="Fourth_Question"  placeholder="Enter fourth question here" > -->
    </mat-form-field>
    <!-- </mat-card> -->

    <!-- <mat-card class="thirdCard"> -->
    <mat-form-field>
      <input matInput type="text" name="FifthQuestion" [ngModel]="post?.question[4]"
        placeholder="Enter fifth question here..." #FifthQuestion="ngModel">

      <!-- <input matInput type="text" name="Fifth_Question"  placeholder="Enter fifth question here" > -->
    </mat-form-field>
  </mat-card>


  <mat-accordion  *ngIf="mode==='edit'">
    <mat-expansion-panel class="editModeViews">
      <mat-expansion-panel-header>
        <mat-panel-title>
          what type of file are you collecting?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngIf="post?.fileType">
          <h4>{{post.fileType}}</h4>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion  *ngIf="mode==='edit'">
    <mat-expansion-panel class="editModeViews">
      <mat-expansion-panel-header>
        <mat-panel-title>
          what type of sensor data are you collecting?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngFor="let sensor of post?.sensorType" >
          <h4 >{{sensor}}</h4> 
        </mat-panel-description>

      <!-- <mat-panel-description *ngIf="post.sensorType.length===0">  -->
        <h3 *ngIf="post?.sensorType.length==0">
          No Sensor Selected for this project
        </h3>      
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion  *ngIf="mode==='edit'">
    <mat-expansion-panel class="editModeViews">
      <mat-expansion-panel-header>
        <mat-panel-title>
          list of additional questions in this project?
        </mat-panel-title>
      </mat-expansion-panel-header>
    <mat-panel-description *ngIf="post?.FirstQuestion">
      <h4 >{{post?.FirstQuestion }}</h4>
      

    </mat-panel-description>
    <mat-panel-description *ngIf="post?.SecondQuestion">
        <h4 >{{post?.SecondQuestion}}</h4>
  
      </mat-panel-description>
      <mat-panel-description *ngIf="post?.ThirdQuestion">
          <h4 >{{post?.ThirdQuestion}}</h4>
    
        </mat-panel-description>
        <mat-panel-description *ngIf="post?.FourthQuestion">
            
            <h4 >{{post?.FourthQuestion}}</h4>
      
          </mat-panel-description>
          <mat-panel-description *ngIf="post?.FifthQuestion">
              
              <h4 >{{post?.FifthQuestion}}</h4>
        
            </mat-panel-description>
              
            <h3 *ngIf="post?.FifthQuestion==null && post?.FourthQuestion==null && post?.ThirdQuestion==null && post?.SecondQuestion==null && post?.FirstQuestion==null">No Questions for this project</h3>
          

      
    </mat-expansion-panel>
  </mat-accordion>

  <button class="mainForm" mat-raised-button color='accent' type="submit">save post</button>
</form>


<!-- </mat-card> -->