<!-- <mat-card> -->
<form (submit)="onSavePost(postForm)" #postForm="ngForm">
  <mat-card class="firstCard">

    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title" placeholder="enter a project title" required
        minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid">please enter a projectt title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="3" name="content" [ngModel]="post?.content" placeholder="enter a project description" required
        minlength='5' #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">please enter a project description</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="mode==='create'">
      <mat-label>select Data upload frequency</mat-label>
      <mat-select name="duration" required [(ngModel)]="seletedDuration">
        <mat-option *ngFor="let duration of durationsList" [value]="duration.value">
          {{duration.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="duration.hasError('required')">please choose a data upload frequency</mat-error>

    </mat-form-field>

    <mat-form-field *ngIf="mode==='create'">
      <mat-label>select required sensors</mat-label>
      <mat-select name="sensorType" multiple class="SensorList" [(ngModel)]="selectedSensor">
        <mat-option *ngFor="let sensor of sensorList" [value]="sensor">{{sensor}}</mat-option>
      </mat-select>

    </mat-form-field>

  </mat-card>
  <!-- <mat-label >  -->
  <p class="info-text mat-body-1" *ngIf="mode=='create'"> Add additonal questions to this project</p>
  <!-- </mat-label> -->
  <mat-accordion *ngIf="mode==='create'">
      <mat-expansion-panel class="editModeViews">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add a question ...
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description >
            <input matInput type="text" name="FirstQuestion" [ngModel]="post?.question[0]"
            placeholder="Enter first question here..." #FirstQuestion="ngModel">
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="mode==='create'">
        <mat-expansion-panel class="editModeViews">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add a question ...
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description >
              <input matInput type="text" name="SecondQuestion" [ngModel]="post?.question[1]"
              placeholder="Enter second question here..." #SecondQuestion="ngModel">
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngIf="mode==='create'">
          <mat-expansion-panel class="editModeViews">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Add a question ...
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description >
                <input matInput type="text" name="ThirdQuestion" [ngModel]="post?.question[2]"
                placeholder="Enter third question here..." #ThirdQuestion="ngModel">
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion *ngIf="mode==='create'">
            <mat-expansion-panel class="editModeViews">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Add a question ...
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description >
                  <input matInput type="text" name="FourthQuestion" [ngModel]="post?.question[3]"
                  placeholder="Enter fourth question here..." #FourthQuestion="ngModel">
              </mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>



          <mat-accordion *ngIf="mode==='create'">
              <mat-expansion-panel class="editModeViews">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Add a question ...
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description >
                    <input matInput type="text" name="FifthQuestion" [ngModel]="post?.question[4]"
                    placeholder="Enter fifth question here..." #FifthQuestion="ngModel">
                </mat-panel-description>
              </mat-expansion-panel>
            </mat-accordion>


  <!-- <mat-card class="secondCard" *ngIf="mode==='create'">

    <mat-form-field>
      <input matInput type="text" name="FirstQuestion" [ngModel]="post?.question[0]"
        placeholder="Enter first question here..." #FirstQuestion="ngModel">
    </mat-form-field>


    <mat-form-field>
      <input matInput type="text" name="SecondQuestion" [ngModel]="post?.question[1]"
        placeholder="Enter second question here..." #SecondQuestion="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="ThirdQuestion" [ngModel]="post?.question[2]"
        placeholder="Enter third question here..." #ThirdQuestion="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="FourthQuestion" [ngModel]="post?.question[3]"
        placeholder="Enter fourth question here..." #FourthQuestion="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="FifthQuestion" [ngModel]="post?.question[4]"
        placeholder="Enter fifth question here..." #FifthQuestion="ngModel">
    </mat-form-field>
  </mat-card> -->


  <mat-accordion *ngIf="mode==='edit'" class="questions">
    <mat-expansion-panel class="editModeViews">
      <mat-expansion-panel-header>
        <mat-panel-title>
          At what frequency are you collecting data?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngIf="post?.duration">
        <h4>{{post.duration}}</h4>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="mode==='edit'">
    <mat-expansion-panel class="editModeViews">
      <mat-expansion-panel-header>
        <mat-panel-title>
          what type of sensor data are you collecting?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngFor="let sensor of post?.sensorType">
        <h4>{{sensor}}</h4>
      </mat-panel-description>

      <!-- <mat-panel-description *ngIf="post.sensorType.length===0">  -->
      <h5 class="info-text mat-body-1" *ngIf="post?.sensorType.length==0">
        No sensor selected for this project
      </h5>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf="mode==='edit'">
    <mat-expansion-panel class="editModeViews">
      <mat-expansion-panel-header>
        <mat-panel-title>
          list of additional questions in this project?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngIf="post?.FirstQuestion">
        <h4>{{post?.FirstQuestion }}</h4>


      </mat-panel-description>
      <mat-panel-description *ngIf="post?.SecondQuestion">
        <h4>{{post?.SecondQuestion}}</h4>

      </mat-panel-description>
      <mat-panel-description *ngIf="post?.ThirdQuestion">
        <h4>{{post?.ThirdQuestion}}</h4>

      </mat-panel-description>
      <mat-panel-description *ngIf="post?.FourthQuestion">

        <h4>{{post?.FourthQuestion}}</h4>

      </mat-panel-description>
      <mat-panel-description *ngIf="post?.FifthQuestion">

        <h4>{{post?.FifthQuestion}}</h4>

      </mat-panel-description>

      <h5 class="info-text mat-body-1"
        *ngIf="post?.FifthQuestion==null && post?.FourthQuestion==null && post?.ThirdQuestion==null && post?.SecondQuestion==null && post?.FirstQuestion==null">
        No questions for this project</h5>



    </mat-expansion-panel>
  </mat-accordion>

  <button class="mainForm" mat-raised-button color='accent' 
    type="submit"><span>{{mode==='create'?'create project':'update project'}}</span></button>
</form>


<!-- </mat-card> -->