<mat-spinner *ngIf="isloading"></mat-spinner>
<div >
<mat-accordion multi="true" *ngIf="posts.length>0 && !isloading">
    <mat-card style="margin-bottom: 1rem"><p class=" info-text mat-body-1 subtitle" >
        ALL  &nbsp;   PROJECTS <br>
          
      </p>
    </mat-card>
        <p *ngIf="!userIsAuthenticated" class="info-text mat-body-1" style="color: azure">
            PLEASE LOGIN TO CREATE/EDIT PROJECTS
          </p>
  
  
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId===post.creator">
    <a mat-button  [routerLink]="['/answerdata',post.id]" >VIEW ANSWERS</a>
    <a mat-button  [routerLink]="['/sensordata',post.id]" >VIEW SENSOR DATA</a>
    <a mat-button color="primary" [routerLink]="['/edit',post.id]">EDIT</a>
    <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>

  </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
</div>
<mat-paginator *ngIf="posts.length>0" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" [pageIndex]="currentPage-1">

</mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length==0 && !isloading">No Projects Available</p>
